# Load Dataset
* 데이터는 SAS데이터셋을 이용한다.

In [0]:
import pandas as pd
import matplotlib.pyplot as plt
df = pd.read_sas('grip_str.sas7bdat').dropna()

In [110]:
#자료가 제대로 읽어졌는지 확인한다.
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,N_K,N_VA,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC,max_grip_rt,max_grip_lt
0,b'A209716213',2.0,30.0,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,3035.899499,1335.998584,7476.633795,88.505252,2.524458,1.702372,13.792368,69.967986,28.4,26.4
2,b'A209716216',1.0,29.0,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,5018.153615,2181.289291,11339.248496,291.693538,3.853337,3.065095,22.947486,65.287764,50.6,47.8
3,b'A209724716',1.0,65.0,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,1952.808521,452.073639,2102.115596,100.982500,1.164780,1.098967,11.789950,43.467542,33.1,33.6
4,b'A209731516',1.0,66.0,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,2339.124348,854.972445,4817.173801,51.367319,1.015765,0.579514,10.199538,56.882524,36.5,35.4
6,b'A209736615',2.0,41.0,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,2214.850076,276.389343,1509.860228,19.627705,0.932423,0.742740,16.719703,146.408221,31.7,29.6

In [111]:
# 나이를 구간으로 나누기 위해 Label을 만든다.
labels = ["{0} - {1}".format(i, i + 10) for i in range(19, 80, 10)]
print(labels)

['19 - 29', '29 - 39', '39 - 49', '49 - 59', '59 - 69', '69 - 79', '79 - 89']

In [112]:
df['age'] = df.age.astype('int64')
df['age'] = pd.cut(df.age, range(19, 90, 10), right=False, labels=labels)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,N_K,N_VA,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC,max_grip_rt,max_grip_lt
0,b'A209716213',2.0,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,3035.899499,1335.998584,7476.633795,88.505252,2.524458,1.702372,13.792368,69.967986,28.4,26.4
2,b'A209716216',1.0,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,5018.153615,2181.289291,11339.248496,291.693538,3.853337,3.065095,22.947486,65.287764,50.6,47.8
3,b'A209724716',1.0,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,1952.808521,452.073639,2102.115596,100.982500,1.164780,1.098967,11.789950,43.467542,33.1,33.6
4,b'A209731516',1.0,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,2339.124348,854.972445,4817.173801,51.367319,1.015765,0.579514,10.199538,56.882524,36.5,35.4
6,b'A209736615',2.0,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,2214.850076,276.389343,1509.860228,19.627705,0.932423,0.742740,16.719703,146.408221,31.7,29.6

In [113]:
df['sex']=df.sex.astype('int64')
df=pd.concat([df,pd.get_dummies(df.sex, prefix='sex')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,N_CAROT,N_RETIN,N_B1,N_B2,N_NIAC,N_VITC,max_grip_rt,max_grip_lt,sex_1,sex_2
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,7476.633795,88.505252,2.524458,1.702372,13.792368,69.967986,28.4,26.4,0,1
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,11339.248496,291.693538,3.853337,3.065095,22.947486,65.287764,50.6,47.8,1,0
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,2102.115596,100.982500,1.164780,1.098967,11.789950,43.467542,33.1,33.6,1,0
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,4817.173801,51.367319,1.015765,0.579514,10.199538,56.882524,36.5,35.4,1,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,1509.860228,19.627705,0.932423,0.742740,16.719703,146.408221,31.7,29.6,0,1

In [114]:
df=pd.concat([df,pd.get_dummies(df.age,prefix='age')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,max_grip_lt,sex_1,sex_2,age_19 - 29,age_29 - 39,age_39 - 49,age_49 - 59,age_59 - 69,age_69 - 79,age_79 - 89
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,26.4,0,1,0,1,0,0,0,0,0
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,47.8,1,0,0,1,0,0,0,0,0
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,33.6,1,0,0,0,0,0,1,0,0
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,35.4,1,0,0,0,0,0,1,0,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,29.6,0,1,0,0,1,0,0,0,0

In [115]:
df=pd.concat([df,pd.get_dummies(df.ho_incm, prefix='ho_incm')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,age_29 - 39,age_39 - 49,age_49 - 59,age_59 - 69,age_69 - 79,age_79 - 89,ho_incm_1.0,ho_incm_2.0,ho_incm_3.0,ho_incm_4.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,0,1,0
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,0,1,0
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,0,0,0,1,0,0,1,0,0,0
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,0,0,0,1,0,0,0,1,0,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,0,1,0,0,0,0,0,0,1,0

In [116]:
df=pd.concat([df,pd.get_dummies(df.edu, prefix='edu')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,age_69 - 79,age_79 - 89,ho_incm_1.0,ho_incm_2.0,ho_incm_3.0,ho_incm_4.0,edu_1.0,edu_2.0,edu_3.0,edu_4.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,0,0,0,1,0,0,0,0,1
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,0,0,0,1,0,0,0,0,1
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,0,0,1,0,0,0,1,0,0,0
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,0,0,0,1,0,0,0,0,0,1
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,0,0,0,0,1,0,0,0,1,0

In [117]:
df=pd.concat([df,pd.get_dummies(df.occp, prefix='occp')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,edu_2.0,edu_3.0,edu_4.0,occp_1.0,occp_2.0,occp_3.0,occp_4.0,occp_5.0,occp_6.0,occp_7.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,0,1,0,0,0,0,0,0,1
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,0,1,0,0,0,0,0,0,1
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,0,0,0,0,0,1,0,0,0,0
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,0,0,1,0,0,0,0,0,0,1
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,0,1,0,0,0,0,0,0,0,1

In [118]:
df=pd.concat([df,pd.get_dummies(df.marri_1, prefix='marri_1')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,edu_4.0,occp_1.0,occp_2.0,occp_3.0,occp_4.0,occp_5.0,occp_6.0,occp_7.0,marri_1_1.0,marri_1_2.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,1,0,1
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,1,0,1
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,0,0,0,1,0,0,0,0,1,0
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,1,0,0,0,0,0,0,1,1,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,0,0,0,0,0,0,0,1,1,0

In [119]:
df=pd.concat([df,pd.get_dummies(df.sm_presnt, prefix='sm_presnt')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,occp_2.0,occp_3.0,occp_4.0,occp_5.0,occp_6.0,occp_7.0,marri_1_1.0,marri_1_2.0,sm_presnt_0.0,sm_presnt_1.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,1,1,0
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,1,1,0
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,0,1,0,0,0,0,1,0,0,1
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,0,0,0,0,0,1,1,0,1,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,0,0,0,0,0,1,1,0,1,0

In [120]:
df=pd.concat([df,pd.get_dummies(df.dr_high, prefix='dr_hight')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,occp_4.0,occp_5.0,occp_6.0,occp_7.0,marri_1_1.0,marri_1_2.0,sm_presnt_0.0,sm_presnt_1.0,dr_hight_0.0,dr_hight_1.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,0,0,1,0,1,1,0,1,0
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,0,0,1,0,1,1,0,1,0
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,0,0,0,0,1,0,0,1,1,0
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,0,0,0,1,1,0,1,0,1,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,0,0,0,1,1,0,1,0,0,1

In [121]:
df=pd.concat([df,pd.get_dummies(df.pa_aerobic, prefix='pa_aerobic')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,occp_6.0,occp_7.0,marri_1_1.0,marri_1_2.0,sm_presnt_0.0,sm_presnt_1.0,dr_hight_0.0,dr_hight_1.0,pa_aerobic_0.0,pa_aerobic_1.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,1,0,1,1,0,1,0,0,1
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,1,0,1,1,0,1,0,0,1
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,0,0,1,0,0,1,1,0,0,1
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,0,1,1,0,1,0,1,0,0,1
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,0,1,1,0,1,0,0,1,0,1

In [122]:
df=pd.concat([df,pd.get_dummies(df.pa_walk, prefix='pa_walk')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,marri_1_1.0,marri_1_2.0,sm_presnt_0.0,sm_presnt_1.0,dr_hight_0.0,dr_hight_1.0,pa_aerobic_0.0,pa_aerobic_1.0,pa_walk_0.0,pa_walk_1.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,1,1,0,1,0,0,1,1,0
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,1,1,0,1,0,0,1,0,1
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,1,0,0,1,1,0,0,1,0,1
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,1,0,1,0,1,0,0,1,1,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,1,0,1,0,0,1,0,1,0,1

In [123]:
df=pd.concat([df,pd.get_dummies(df.pa_muscle, prefix='pa_muscle')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,sm_presnt_0.0,sm_presnt_1.0,dr_hight_0.0,dr_hight_1.0,pa_aerobic_0.0,pa_aerobic_1.0,pa_walk_0.0,pa_walk_1.0,pa_muscle_0.0,pa_muscle_1.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,1,0,1,0,0,1,1,0,0,1
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,1,0,1,0,0,1,0,1,0,1
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,0,1,1,0,0,1,0,1,1,0
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,1,0,1,0,0,1,1,0,1,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,1,0,0,1,0,1,0,1,1,0

In [124]:
df=pd.concat([df,pd.get_dummies(df.HE_HP, prefix='HE_HP')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,dr_hight_1.0,pa_aerobic_0.0,pa_aerobic_1.0,pa_walk_0.0,pa_walk_1.0,pa_muscle_0.0,pa_muscle_1.0,HE_HP_1.0,HE_HP_2.0,HE_HP_3.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,0,1,1,0,0,1,1,0,0
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,0,1,0,1,0,1,0,1,0
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,0,0,1,0,1,1,0,0,0,1
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,0,0,1,1,0,1,0,0,1,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,1,0,1,0,1,1,0,0,1,0

In [125]:
df=pd.concat([df,pd.get_dummies(df.HE_DM, prefix='HE_DM')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,pa_walk_0.0,pa_walk_1.0,pa_muscle_0.0,pa_muscle_1.0,HE_HP_1.0,HE_HP_2.0,HE_HP_3.0,HE_DM_1.0,HE_DM_2.0,HE_DM_3.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,1,0,0,1,1,0,0,1,0,0
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,1,0,1,0,1,0,1,0,0
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,0,1,1,0,0,0,1,0,0,1
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,1,0,1,0,0,1,0,1,0,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,0,1,1,0,0,1,0,1,0,0

In [126]:
df=pd.concat([df,pd.get_dummies(df.HE_HCHOL, prefix='HE_HCHOL')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,pa_muscle_0.0,pa_muscle_1.0,HE_HP_1.0,HE_HP_2.0,HE_HP_3.0,HE_DM_1.0,HE_DM_2.0,HE_DM_3.0,HE_HCHOL_0.0,HE_HCHOL_1.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,1,1,0,0,1,0,0,1,0
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,1,0,1,0,1,0,0,1,0
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,1,0,0,0,1,0,0,1,1,0
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,1,0,0,1,0,1,0,0,1,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,1,0,0,1,0,1,0,0,1,0

In [127]:
df=pd.concat([df,pd.get_dummies(df.GS_use, prefix='GS_use')],axis=1)
df.head()

,ID,sex,age,ho_incm,edu,occp,marri_1,sm_presnt,dr_high,pa_aerobic,...,HE_HP_2.0,HE_HP_3.0,HE_DM_1.0,HE_DM_2.0,HE_DM_3.0,HE_HCHOL_0.0,HE_HCHOL_1.0,GS_use_1.0,GS_use_2.0,GS_use_3.0
0,b'A209716213',2,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,0,0,1,0,0,1,0,1,0,0
2,b'A209716216',1,29 - 39,3.0,4.0,7.0,2.0,0.0,0.0,1.0,...,1,0,1,0,0,1,0,1,0,0
3,b'A209724716',1,59 - 69,1.0,1.0,3.0,1.0,1.0,0.0,1.0,...,0,1,0,0,1,1,0,1,0,0
4,b'A209731516',1,59 - 69,2.0,4.0,7.0,1.0,0.0,0.0,1.0,...,1,0,1,0,0,1,0,1,0,0
6,b'A209736615',2,39 - 49,3.0,3.0,7.0,1.0,0.0,1.0,1.0,...,1,0,1,0,0,1,0,1,0,0

In [0]:
df=df.drop(['sex','age','ho_incm','edu','occp','marri_1','sm_presnt','dr_high','pa_aerobic','pa_walk','pa_muscle','HE_HP','HE_DM','HE_HCHOL','GS_use'],axis=1)

In [129]:
df.head()

,ID,HE_ht,HE_wt,HE_wc,HE_BMI,N_WAT_C,N_INTK,N_EN,N_WATER,N_PROT,...,HE_HP_2.0,HE_HP_3.0,HE_DM_1.0,HE_DM_2.0,HE_DM_3.0,HE_HCHOL_0.0,HE_HCHOL_1.0,GS_use_1.0,GS_use_2.0,GS_use_3.0
0,b'A209716213',153.4,68.1,81.9,28.939858,3.5,1198.226616,1930.920992,761.873294,69.515824,...,0,0,1,0,0,1,0,1,0,0
2,b'A209716216',171.2,84.0,85.5,28.659708,4.0,2099.617699,3007.329713,1427.204406,109.849807,...,1,0,1,0,0,1,0,1,0,0
3,b'A209724716',160.8,52.2,71.0,20.188238,3.0,779.230888,1502.406756,443.763134,57.129583,...,0,1,0,0,1,1,0,1,0,0
4,b'A209731516',168.8,68.8,84.0,24.145909,5.0,1165.590400,1116.380721,911.584789,36.183575,...,1,0,1,0,0,1,0,1,0,0
6,b'A209736615',162.2,80.5,98.4,30.598080,15.0,2336.472416,2465.075672,1897.949605,72.131360,...,1,0,1,0,0,1,0,1,0,0

In [130]:
df.shape

(11323, 80)

# Feature, Target 설정
* Target 컬럼 생성 - 왼손 악력과 오른손 악력 중 최대값을 타겟으로 한다.

In [0]:
target = df[['max_grip_rt', 'max_grip_lt']].max(axis = 1)
features = df.drop(columns = ['ID', 'max_grip_rt', 'max_grip_lt'], axis = 1)

In [0]:
# Train데이터와 Test를 나눈다.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=0)

#MinMaxScaler
class sklearn.preprocessing.MinMaxScaler(feature_range=(0, 1), copy=True)

Document:
https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html

In [0]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler(feature_range=(0, 1))

In [134]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [0]:
X_train_scaled = scaler.transform(X_train) 
X_test_scaled = scaler.transform(X_test)

#Ridge
class sklearn.linear_model.Ridge(alpha=1.0, fit_intercept=True, normalize=False, copy_X=True, max_iter=None, tol=0.001, solver=’auto’, random_state=None)

* 규제 방식 : L2 규제

Documentation :  https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Ridge.html

In [0]:
from sklearn.linear_model import Ridge

ridge = Ridge(alpha=1)

In [137]:
ridge.fit(X_train_scaled, y_train)

Ridge(alpha=1, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [138]:
ridge.score(X_test_scaled, y_test)

0.7477935848440196

alpha에 Default Value를 넣고 Ridge회귀를 돌린 결과 Scoresms 0.747을 얻을 수 있었다.
이제 alpha 값을 변경시켜 score를 증가시키려고 한다.

# KFold, GridSearchCV
class sklearn.model_selection.KFold(n_splits=’warn’, shuffle=False, random_state=None)

class sklearn.model_selection.GridSearchCV(estimator, param_grid, scoring=None, fit_params=None, n_jobs=None, iid=’warn’, refit=True, cv=’warn’, verbose=0, pre_dispatch=‘2*n_jobs’, error_score=’raise-deprecating’, return_train_score=’warn’)

* 회귀이므로 KFold이용

Document:
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.KFold.html

Document:
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.GridSearchCV.html

In [0]:
from sklearn.model_selection import KFold
kfold = KFold(n_splits=10, shuffle=True)

param_grid = {'alpha': [0.001, 0.01, 0.1, 1, 10, 100]}

from sklearn.model_selection import GridSearchCV
grid = GridSearchCV(ridge, param_grid = param_grid, cv=kfold)

# 학습
grid_result = grid.fit(X_train_scaled, y_train)

In [140]:
print(grid_result.best_score_)

0.7617904590230375

In [141]:
grid.best_params_

{'alpha': 0.1}

alpha가 0.1일때 모형의 성능이 가장 좋은 것으로 나왔다.
이에 따라 좀더 세분화해서 다시 돌려보기로 한다.

In [142]:
import numpy as np
alpha = np.arange(0.05, 0.3, 0.01)

print(alpha)

[0.05 0.06 0.07 0.08 0.09 0.1  0.11 0.12 0.13 0.14 0.15 0.16 0.17 0.18
 0.19 0.2  0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28 0.29]

In [0]:
param_grid = {'alpha': alpha}

grid = GridSearchCV(ridge, param_grid = param_grid, cv=kfold)

# 학습
grid_result = grid.fit(X_train_scaled, y_train)

In [144]:
print(grid_result.best_score_)

0.7615614045803926

In [145]:
grid.best_params_

{'alpha': 0.28}

kfold의 shuffle 매개변수가 True이므로 돌릴때마다 다른 알파값이 최적의 매개변수로 나온다.


그러나 score차이가 크지 않으므로 기존의 alpha가 0.1일때 최적이라고 판단한다.

In [146]:
# 평가
grid.score(X_test_scaled, y_test)

0.7473342190417909

최적의 매개변수를 찾아 Score를 구했다.


그러나 문제가 생겼다.

**기존에 디폴트 값으로 alpha를 1로 넣었었는데 오히려 디폴트 모형이 Score가 더 좋게 나왔다.**(혼돈)

# RandomForestRegressor

class sklearn.ensemble.RandomForestRegressor(n_estimators=’warn’, criterion=’mse’, max_depth=None, min_samples_split=2, min_samples_leaf=1, min_weight_fraction_leaf=0.0, max_features=’auto’, max_leaf_nodes=None, min_impurity_decrease=0.0, min_impurity_split=None, bootstrap=True, oob_score=False, n_jobs=None, random_state=None, verbose=0, warm_start=False)

Document : https://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html#sklearn.ensemble.RandomForestRegressor

In [0]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=10 , random_state=0)

In [148]:
model.fit(X_train_scaled, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [149]:
model.score(X_test_scaled, y_test)

0.712176889394429

매개변수를 디폴트로 돌렸을때 Score는 0.71을 얻었다. 이를 GridSearch를 이용하여 향상시키고자 한다.

# GridSearchCV

In [0]:
kfold = KFold(n_splits=5, shuffle=True) # 소요시간이 길어 n_splits을 10에서 5로 줄였다

estimators = np.arange(10, 100, 10)

param_grid = {'n_estimators': estimators}

grid = GridSearchCV(model, param_grid = param_grid, cv=kfold)

# 학습
grid_result = grid.fit(X_train_scaled, y_train)

In [153]:
print(grid_result.best_score_)

0.7521794413403965

In [154]:
grid.best_params_

{'n_estimators': 90}

In [155]:
# 평가
grid.score(X_test_scaled, y_test)

0.7403783502595258

GridSearch를 이용하여 Score를 0.03정도 증가 시킬 수 있었다.

#VISUALIZE

In [162]:
model = RandomForestRegressor(n_estimators=90 , random_state=0)

# 학습
model.fit(X_train_scaled, y_train)

# 평가
model.score(X_test_scaled, y_test)

0.7403783502595258

In [189]:
from sklearn.tree import export_graphviz

estimator = model.estimators_[5]

export_graphviz(estimator, out_file='tree.dot',
                feature_names=features.columns.values,
                rounded=True, filled=True)


### Colab에서 Dot이 안먹힘................
from subprocess import call
call(['dot', '-Tpng', 'tree.dot', '-o', 'tree.png', '-Gdpi=600'])

from IPython.display import Image
Image(filename = 'tree.png')

FileNotFoundError: ignored